{% load static %}
<div class="container bg-dark overflow-hidden pb-4 rounded-3">
    <div class="row">
        <div class="col-12">
            <div class="fontGoogle text-center display-6 text-light mb-2">
                <i class="bi bi-trophy"></i>
                <span class="mx-3">Guanyadors</span>
                <i class="bi bi-trophy"></i>
            </div>
            <hr style="margin-top: 0rem;
                margin-bottom: 0rem;
                margin-right: 20rem;
                margin-left: 20rem;
                border-top: 2px solid rgb(255, 255, 255);">
            <div class="card mt-3">
                <div class="card-body">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>